body{
    background-color: #2b2b2b;
}



nav{
    width: 100%;
    height: 70px;
    background-color: #2b2b2b;
    padding-left: 5%;
    padding-right: 6%;
}

.logo{
    width: 200px;
    float: left;
    padding-top: 20px;
}

.logo h1{
    font-size: 30px;
    color: green ;
}

.nav-con{
    width: 600px;
    height: 50px;
    float: right;
    margin-top: 5px;
    padding-top: 15px;
    margin-right: 500px;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float: left;
    height: 30px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 1px;
    padding-bottom: 10px;
    color: white;
}

.nav-con li:hover{
    color: green!important;
    cursor:pointer
}

.active{
    color:  green!important;
}

form{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: rgba(130, 254, 6, 0.2);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;
}

form h3{
    color: #f7f7f7;
}

.input-el{
    background-color: #2b2b2b;
    width: 90%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    border: none;
    border-radius: 40px;
    color: #f7f7f7;
}

select,button{
    width: 90% !important;

}


.col-box{
    width: 100%;
    height: 600px;
    background-color: #2b2b2b;
    text-align: center;
    margin-top: 100px;
}



footer{
    width: 100%;
    height: 400px;
    background-color: #2b2b2b;
    padding-top: 60px;
    float: left;
    margin-left: 220;
}

#play{
    width: 200px !important;
    color: white;
     margin-left: 300px;
}

#texti{
    height: 120px!important;
}

.col-boxe{
    width: 100%;
    height: 200px;
    background-color: orchid;
    text-align: center;
    margin-top: 200px;
}

.col-boxi{
    width: 100%;
    height: 200px;
    text-align: left;
    color: white;
}

.contact{
    color: green;
    float: right;
    margin-top: 140px;
    margin-right: 280px;
}

.contact img,p{
    float: left;
    padding-left: 10px;
    margin: 0% auto;

}
.contact p{
    margin-top: 15px;
    
}